<div class="flex center">
  <div class="card mid-width">
    <div class="font-bold text-xl mb-2">
<h2>Sign-up</h2>
</div>
    <p class="text-gray-700 text-base">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow w-full border rounded focus:outline-none focus:shadow-outline"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow w-full border rounded focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow w-full border rounded focus:outline-none focus:shadow-outline" %>
  </div>

    <div class="flex center">
      <div class="small-width">
        <%= f.submit "Sign Up", class: "button button-create button-radius" %>
    <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>


</div>

  </div>
</div>
