  <div class="dinner-card shadow-lg">
    <div class="dinner-card-header font-semi-bold text-gray-700">
      <%= dinner[:day] %>
      <% @dinner = Dinner.find_by(id: dinner[:dinner]) %>
    </div>
    <div class="dinner-card-body">
            <div class="card-img-sm">
                  <%= link_to dinner_path(@dinner) do %>
      <% if @dinner.photo.attached? %>
        <%= image_tag @dinner.photo.variant(resize_to_fill: [500, 500]), alt: "Photo of #{@dinner.name}" %>
      <% else %>
        <%= image_tag "default.png", alt: "Default dinner photo"%>
      <% end %>
            <% end %>
        </div>
        <div class="dinner-name">
        <%= link_to @dinner.name, dinner_path(@dinner) %>
        </div>
    </div>
    <div class="dinner-card-footer">
      <div class="love">
        <div id="user-status-<%= @dinner.id %>">
        <% if current_user_loves?(@dinner) %>
          You love this dinner.
        <% end %>
        </div>
        <%= link_to love_dinner_path(@dinner), method: "post", remote: true do %>
          <%= show_svg('heart') %>
        <% end %>
        <div id="love-count-<%= @dinner.id %>"><%= pluralize(@dinner.loves.count, "love") %></div>
    </div>
    </div>
  </div>
