<div class="flex center">
<div class="card mid-width">

<%= form_with model: @dinner do |form| %>
  <% if dinner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dinner.errors.count, "error") %> prohibited this dinner from being saved:</h2>

      <ul>
        <% dinner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <%= form.label :name, class: "block text-gray-900 font-semibold mb-2" %>
    <%= form.text_field :name, class: "shadow appearence-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field">
    <%= form.label :notes, class: "block text-gray-900 font-semibold mb-2" %>
    <%= form.text_area :notes, placeholder: "recipe, notes, url, etc.", class: "shadow appearence-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field file-input-wrap">
      <button class="button btn-file-input">Add a photo</button>
      <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label "This dinner is:", class: "block text-gray-900 font-semibold mb-2" %>
    <div class="flex">
    <% @tags.each do |tag| %>
      <div class="check-btn">
        <label>
        <%= check_box_tag "dinner[tag][]", tag.id %><span>  <%=  tag.name %></span>
        </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-center">
    <%= form.submit class: "button button-create button-radius" %>
  </div>
<% end %>
</div>
</div>

<%= render "/layouts/sub_footer", links: [:back] %>
