<div class="dinner-card shadow-lg">
  <div class="dinner-card-header text-xl font-bold text-gray-700">
    <% if params[:action] === "show" %>
        <%= link_to dinner.name, dinner_path(dinner) %>
    <% else %>
      <%= link_to dinner.name.truncate(25, omission: "..."), dinner_path(dinner) %>
    <% end %>
  </div>
  <div class="dinner-card-body">
    <%= link_to dinner_path(dinner) do %>
          <div class="card-img-md">
    <% if dinner.photo.attached? %>
      <%= image_tag dinner.photo.variant(resize_to_fill: [500, 500]) %>
    <% else %>
      <%= image_tag "default.png", height: '500' %>
    <% end %>
      </div>
    <% end %>

  </div>
  <div class="notes">
  <% if params[:action] === "show" %>
    <strong>Notes:</strong> <%= dinner.notes  %>
  <% end %>
  </div>
  <div class="wow">
    <% dinner.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
   </div>
  <div class="dinner-card-footer">
    <div class="love">
      <div id="user-status-<%= dinner.id %>">
      <% if current_user_loves?(dinner) %>
        You love this dinner.
      <% end %>
      </div>
      <%= link_to love_dinner_path(dinner), method: "post", remote: true do %>
        <%= show_svg('heart') %>
      <% end %>
      <div id="love-count-<%= dinner.id %>"><%= pluralize(dinner.loves.count, "x total love") %></div>
  </div>
  </div>
</div>
