<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Dinnerlove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <div class="page-content">
      <%= render "layouts/header" %>
      <% if flash[:notice] %>
       <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>

      <% end %>
      <div class="content">
      <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
